/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: #151515;
  padding-top: 60px;
  height: 100%;
}